

settings.py



# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
env/

# migrations/

__pycache__


# Django stuff:
*.log

# python version
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/



